---
import SessionManager from "../../layouts/sessionManager.astro";
import Heading from "../../components/Heading.astro";
import ConnectionActive from "../../components/ConnectionActive.astro";
import CompanyIcon from "../../components/CompanyIcon.astro";
import Section from "../../components/Section.astro";
import SubSection from "../../components/SubSection.astro";
import SiteCode from "../../components/SiteCode.astro";
import Disclaimer from "../../components/Disclaimer.astro";
---

<SessionManager title="Settings" navIndicator="settings">
  <Heading title="Settings" />
  <Section
    title="Bookings"
    description="Customer facing areas such as the web app or emails."
  >
    <SubSection title="Company icon">
      <CompanyIcon />
    </SubSection>
    <SubSection
      title="Disclaimer"
      description="The disclaimer area is shown on the account creation page. The user's answers are stored against their profile."
    >
      <Disclaimer />
    </SubSection>
    <SubSection
      title="Bookings iFrame"
      description="Load the bookings app inside your website"
    >
      <SiteCode />
    </SubSection>
  </Section>

  <Section
    title="Payments"
    description="How we'll handle payments on your site."
  >
    <SubSection title="Handler">
      <ConnectionActive title="Stripe" imageUrl="/sessions/stripe-avatar.png" />
    </SubSection>
  </Section>
</SessionManager>
