---
import SessionManager from "../../layouts/sessionManager.astro";
import SectionHeading from "../../components/SectionHeading.astro";
import Heading from "../../components/Heading.astro";
import AvatarSection from "../../components/AvatarSection.astro";
import DescriptionList from "../../components/DescriptionList.astro";
import StripeLogo from "/stripe-avatar.png";
---

<SessionManager title="Settings" navIndicator="settings">
  <Heading title="Settings" />
  <SectionHeading
    title="Branding"
    description="Customise how your brand appears while using Sessions"
  />
  <p>This section is incomplete.</p>
  <SectionHeading
    title="Payment provider"
    description="This is your payment processing platform"
  />
  <AvatarSection title="Stripe" imageUrl={StripeLogo} />
  <DescriptionList />
</SessionManager>
