---
import Layout from "../layouts/email.astro";
import Receipt from "../components/email/receipt.astro";
---

<Layout title="Session booked" subject="Session booked">
  <p>Regular booking</p>
  <Receipt />
</Layout>
