---
// Component Imports
import Layout from "../layouts/main.astro";
import Button from "../components/Button.astro";
---

<Layout>
  <img
    class="h-16 w-16 mb-8"
    src="/sessions/logo-sessions.svg"
    alt="Sessions"
  />
  <h1 class="hidden">Sessions</h1>
  <h2 class="text-lg font-medium mt- 8 mb-4">Prototypes</h2>
  <a
    href="./crm/schedule"
    class="w-full max-w-xs inline-flex items-center rounded-md border border-gray-300 bg-white px-6 py-3 text-base text-center font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
    >CRM</a
  >
  <a
    href="./email/booking-onboarding"
    class="w-full max-w-xs mt-4 inline-flex items-center rounded-md border border-gray-300 bg-white px-6 py-3 text-base text-center font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
    >Emails</a
  >
  <h2 class="text-lg font-medium mb-4 mt-8">Production</h2>
  <a
    href="./crm/schedule"
    class="w-full max-w-xs inline-flex items-center rounded-md border border-gray-300 bg-white px-6 py-3 text-base text-center font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
    >User bookings</a
  >
  <a
    href="./iframe"
    class="w-full max-w-xs mt-4 inline-flex items-center rounded-md border border-gray-300 bg-white px-6 py-3 text-base text-center font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
    >User bookings in iFrame</a
  >
  <a
    href="https://sessionsdev.thefitway.io/#/"
    class="w-full max-w-xs mt-4 inline-flex items-center rounded-md border border-gray-300 bg-white px-6 py-3 text-base text-center font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
    >CRM</a
  >
</Layout>
