---
// Component Imports
import Button from "../components/Button.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Sessions</title>
  </head>

  <body>
    <div class="grid place-items-center h-screen content-center">
      <a href="./schedule" class="p-4 underline">Session Manager</a>
      <Button>Get confetti</Button>
    </div>
  </body>
</html>
