<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
    <!--
  This example requires updating your template:
​
  ```
  <html class="h-full bg-gray-50">
  <body class="h-full">
  ```
-->
    <div class="bg-white py-32 px-6 lg:px-8">
      <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
        <p class="text-base font-semibold leading-7 text-indigo-600">
          Job Offer
        </p>
        <h1
          class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
        >
          Product Designer
        </h1>
        <p class="mt-6 text-xl leading-8">
          Membr is an innovative and globally expanding Fitness membership
          platform. We're dedicated to our vision of motivating, educating, and
          inspiring people to a healthier lifestyle through the use of our
          member centric fitness platform. We are a passionate, honest, and
          hardworking team, and due to continued international expansion, are
          looking for a like-minded individual to join our friendly team.
        </p>
        <div class="mt-10 max-w-2xl">
          <p>
            We are currently recruiting for an enthusiastic Product Designer to
            work within the Product team collaborating with the Product Managers
            and engineers. We are looking for a Product Designer to support the
            visualisation of early product discovery work. As the initiative
            moves into definition, you will work through the product life-cycle
            with iterative designs modelled in collaboration with a Product
            Panel of existing users, to shape the optimal customer experience.
            Product Designer responsibilities range from obsessing over
            customers to ideation to realisation of solutions to delivery and
            iterating on constant feedback loops. Ultimately, the Product
            Designer will create visual designs that connect and breathe life
            into conceptual workflows shaping the entire customer journey.
          </p>
          <div class="mt-10 max-w-2xl">
            <p>
              To be successful in this role, you should have experience with
              understanding customer research and working in collaboration with
              the teams to land on a solution that is understandable and easy to
              use for our customers.
            </p>
            <div class="mt-10 max-w-2xl">
              <p>
                In return for your hard work and dedication you will have the
                opportunity to help shape and influence this rapidly expanding
                company, and make a real impact in a progressive and forward
                thinking business.
              </p>

              <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">
                Responsibilities
              </h2>
              ​
              <ul role="list" class="mt-8 max-w-xl space-y-8 text-gray-600">
                <li class="flex gap-x-3">
                  <svg
                    class="mt-1 h-5 w-5 flex-none text-indigo-600"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <span
                    ><strong class="font-semibold text-gray-900"
                      >Requirements.</strong
                    > Gather and evaluate user requirements in collaboration with
                    product managers and engineers</span
                  >
                </li>

                <li class="flex gap-x-3">
                  <svg
                    class="mt-1 h-5 w-5 flex-none text-indigo-600"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <span
                    ><strong class="font-semibold text-gray-900">Ideas.</strong
                    >Illustrate design ideas using storyboards & customer
                    journeys</span
                  >
                </li>

                <li class="flex gap-x-3">
                  <svg
                    class="mt-1 h-5 w-5 flex-none text-indigo-600"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <span
                    ><strong class="font-semibold text-gray-900"
                      >Visualise.</strong
                    >Visual design to visualise how the customer would view the
                    end solution</span
                  >
                </li>

                <li class="flex gap-x-3">
                  <svg
                    class="mt-1 h-5 w-5 flex-none text-indigo-600"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <span
                    ><strong class="font-semibold text-gray-900"
                      >Prototypes.</strong
                    >Create prototypes to articulate how a problem will be
                    solved (Low & High Fidelity Prototypes)</span
                  >
                </li>

                <li class="flex gap-x-3">
                  <svg
                    class="mt-1 h-5 w-5 flex-none text-indigo-600"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <span
                    ><strong class="font-semibold text-gray-900"
                      >Product Lifecycle.</strong
                    >Work from discovery to delivery with the product managers
                    and engineers</span
                  >
                </li>
                ​
                <li class="flex gap-x-3">
                  <svg
                    class="mt-1 h-5 w-5 flex-none text-indigo-600"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <span
                    ><strong class="font-semibold text-gray-900"
                      >Validation.</strong
                    >UX Testing and facilitating the testing of your assumptions
                    and ideas with customers</span
                  >
                </li>
              </ul>

              <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">
                Requirements
              </h2>
              ​
              <ul role="list" class="mt-8 max-w-xl space-y-8 text-gray-600">
                <li class="flex gap-x-3">
                  <svg
                    class="mt-1 h-5 w-5 flex-none text-indigo-600"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <span
                    >Proven work experience as a product designer or similar
                    role</span
                  >
                </li>

                <li class="flex gap-x-3">
                  <svg
                    class="mt-1 h-5 w-5 flex-none text-indigo-600"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <span>Portfolio of solutions to customer problems</span>
                </li>

                <li class="flex gap-x-3">
                  <svg
                    class="mt-1 h-5 w-5 flex-none text-indigo-600"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <span
                    >Knowledge of wireframe tools (e.g. InVision, Sketch, Figma)</span
                  >
                </li>

                <li class="flex gap-x-3">
                  <svg
                    class="mt-1 h-5 w-5 flex-none text-indigo-600"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <span
                    >Up-to-date knowledge of design software like Sketch</span
                  >
                </li>

                <li class="flex gap-x-3">
                  <svg
                    class="mt-1 h-5 w-5 flex-none text-indigo-600"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <span
                    >Team spirit; Strong Teamwork and collaboration skills</span
                  >
                </li>
                ​
                <li class="flex gap-x-3">
                  <svg
                    class="mt-1 h-5 w-5 flex-none text-indigo-600"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <span>Good time-management skills</span>
                </li>

                <li class="flex gap-x-3">
                  <svg
                    class="mt-1 h-5 w-5 flex-none text-indigo-600"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <span
                    >Experience in designing experiences of multiple different
                    UI views (Web, mobile, desktop)</span
                  >
                </li>

                <li class="flex gap-x-3">
                  <svg
                    class="mt-1 h-5 w-5 flex-none text-indigo-600"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <span>User Testing Facilitation</span>
                </li>

                <li class="flex gap-x-3">
                  <svg
                    class="mt-1 h-5 w-5 flex-none text-indigo-600"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <span>Proven ability to solve customer problems</span>
                </li>
              </ul>

              <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">
                Benefits
              </h2>

              <ul role="list" class="mt-8 max-w-xl space-y-8 text-gray-600">
                <li class="flex gap-x-3">
                  <svg
                    class="mt-1 h-5 w-5 flex-none text-indigo-600"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <span>Benefit 1</span>
                </li>

                <li class="flex gap-x-3">
                  <svg
                    class="mt-1 h-5 w-5 flex-none text-indigo-600"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <span>Benefit 2</span>
                </li>
              </ul>

              <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">
                Job Type: Full-time
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    ​</body
  >
</html>
