<!DOCTYPE html>
<html class="h-full bg-gray-50">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Membr - Product designer position</title>
  </head>

  <body class="h-full">
    <div class="py-12 lg:py-32 px-6 lg:px-8">
      <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700 prose">
        <section>
          <p class="text-base font-semibold leading-7 text-indigo-600">
            Job Offer • Full time
          </p>
          <h1
            class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
          >
            Product Designer
          </h1>
          <p class="mt-6 text-xl leading-8">
            Membr is an innovative and globally expanding Fitness membership
            platform. We're dedicated to our vision of motivating, educating,
            and inspiring people to a healthier lifestyle through the use of our
            member centric fitness platform. We are a passionate, honest, and
            hardworking - and due to continued international expansion are
            looking for a like-minded individual to join our friendly team.
          </p>
          <p>
            We are currently seeking an enthusiastic Product Designer to to work
            closely with our Product Managers and engineers. In this role you'll
            help with the visualisation of early product discovery. As the
            initiative moves into definition, you will work through the product
            life-cycle with iterative designs modelled in collaboration with a
            Product Panel of existing users, to shape the optimal customer
            experience. Product Designer responsibilities range from obsessing
            over users, to ideation, realisation of solutions, delivery and
            iterating constant feedback loops. Ultimately, you'll create visual
            designs that connect and breathe life into conceptual workflows
            shaping the entire customer journey.
          </p>
          <p>
            To be successful in this role, you should have experience with
            understanding customer research and working in collaboration with
            the teams to land on a solution that is understandable, easy to use,
            and meets the needs of our business.
          </p>
          <p>
            Your hard work and dedication you will help shape and influence this
            rapidly expanding company, and make a real impact in a progressive
            and forward thinking business.
          </p>
        </section>
        <section>
          <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">
            Responsibilities
          </h2>
          <ul role="list" class="max-w-xl space-y-6 text-gray-600 p-0">
            <li class="flex gap-x-3">
              <svg
                class="mt-1 h-5 w-5 flex-none text-indigo-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path>
              </svg>
              <div class="m-0">
                <strong class="font-semibold text-gray-900"
                  >Design requirements</strong
                >
                <p class="m-0">
                  Gather, evaluate and communicate requirements in collaboration
                  with product managers and engineers
                </p>
              </div>
            </li>

            <li class="flex gap-x-3">
              <svg
                class="mt-1 h-5 w-5 flex-none text-indigo-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path>
              </svg>

              <div class="m-0">
                <strong class="font-semibold text-gray-900">Ideas</strong>
                <p class="m-0">
                  Illustrate design ideas using storyboards & customer journeys
                </p>
              </div>
            </li>

            <li class="flex gap-x-3">
              <svg
                class="mt-1 h-5 w-5 flex-none text-indigo-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path>
              </svg>

              <div class="m-0">
                <strong class="font-semibold text-gray-900">Visualise</strong><p
                  class="m-0"
                >
                  Visual design to visualise how the customer would view and
                  interact with the end solution
                </p>
              </div>

              <li class="flex gap-x-3">
                <svg
                  class="mt-1 h-5 w-5 flex-none text-indigo-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                    clip-rule="evenodd"></path>
                </svg>

                <div class="m-0">
                  <strong class="font-semibold text-gray-900">Prototypes</strong
                  >
                  <p class="m-0">
                    Create low & high fidelity prototypes to articulate how a
                    problem will be solved
                  </p>
                </div>

                <li class="flex gap-x-3">
                  <svg
                    class="mt-1 h-5 w-5 flex-none text-indigo-600"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <div class="m-0">
                    <strong class="font-semibold text-gray-900"
                      >Product lifecycle</strong
                    >
                    <p class="m-0">
                      Work from discovery to delivery with the product managers
                      and engineers
                    </p>
                  </div>
                </li>
                <li class="flex gap-x-3">
                  <svg
                    class="mt-1 h-5 w-5 flex-none text-indigo-600"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <div class="m-0">
                    <strong class="font-semibold text-gray-900"
                      >Validation</strong
                    ><p class="m-0">
                      UX testing and facilitating the testing of your
                      assumptions and ideas with customers
                    </p>
                  </div>
                </li>
              </li>
            </li>
          </ul>
        </section>
        <section>
          <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">
            Skill requirements
          </h2>
          <ul role="list" class="max-w-xl space-y-6 text-gray-600 p-0">
            <li class="flex gap-x-3">
              <svg
                class="mt-1 h-5 w-5 flex-none text-indigo-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path>
              </svg>
              <p class="m-0">
                Proven experience as a product designer or similar role
              </p>
            </li>

            <li class="flex gap-x-3">
              <svg
                class="mt-1 h-5 w-5 flex-none text-indigo-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path>
              </svg>
              <p class="m-0">
                Strong portfolio showcasing user-centered design solutions
              </p>
            </li>
            <li class="flex gap-x-3">
              <svg
                class="mt-1 h-5 w-5 flex-none text-indigo-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path>
              </svg>
              <p class="m-0">
                Understanding of human-centered design principles and
                methodologies
              </p>
            </li>

            <li class="flex gap-x-3">
              <svg
                class="mt-1 h-5 w-5 flex-none text-indigo-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path>
              </svg>
              <p class="m-0">
                Experience in designing high quality experiences for multiple
                different views (web, mobile, desktop)
              </p>
            </li>

            <li class="flex gap-x-3">
              <svg
                class="mt-1 h-5 w-5 flex-none text-indigo-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path>
              </svg>
              <p class="m-0">
                Knowledge of wireframe tools (eg. InVision, Sketch, Figma)
              </p>
            </li>

            <li class="flex gap-x-3">
              <svg
                class="mt-1 h-5 w-5 flex-none text-indigo-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path>
              </svg>
              <p class="m-0">
                Up-to-date knowledge of design software like Sketch
              </p>
            </li>

            <li class="flex gap-x-3">
              <svg
                class="mt-1 h-5 w-5 flex-none text-indigo-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path>
              </svg>
              <p class="m-0">
                Team spirit; strong teamwork and collaboration skills
              </p>
            </li>

            <li class="flex gap-x-3">
              <svg
                class="mt-1 h-5 w-5 flex-none text-indigo-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path>
              </svg>
              <p class="m-0">Great time-management</p>
            </li>

            <li class="flex gap-x-3">
              <svg
                class="mt-1 h-5 w-5 flex-none text-indigo-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path>
              </svg>
              <p class="m-0">User testing facilitation</p>
            </li>

            <li class="flex gap-x-3">
              <svg
                class="mt-1 h-5 w-5 flex-none text-indigo-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path>
              </svg>
              <p class="m-0">Proven ability to solve customer problems</p>
            </li>
          </ul>
        </section>
        <section>
          <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">
            Benefits
          </h2>

          <ul role="list" class="max-w-xl space-y-6 text-gray-600 p-0">
            <li class="flex gap-x-3">
              <svg
                class="mt-1 h-5 w-5 flex-none text-indigo-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path>
              </svg>
              <p class="m-0">
                30 days holidays + bank holidays, increasing after continued
                employment
              </p>
            </li>
            <li class="flex gap-x-3">
              <svg
                class="mt-1 h-5 w-5 flex-none text-indigo-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path>
              </svg>
              <p class="m-0">£30 monthly wellbeing budget</p>
            </li>
            <li class="flex gap-x-3">
              <svg
                class="mt-1 h-5 w-5 flex-none text-indigo-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path>
              </svg>
              <p class="m-0">Monthly social events subsidised by the company</p>
            </li>
            <li class="flex gap-x-3">
              <svg
                class="mt-1 h-5 w-5 flex-none text-indigo-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path>
              </svg>
              <p class="m-0">
                Flexible hours; remote and from our two Manchester offices
              </p>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </body>
</html>
