<div class="flex flex-col">
  <div
    class="mt-12 p-5 rounded-xl bg-white shadow ring-1 ring-gray-900/5 justify-start text-sm"
  >
    <div class="flex flex-col text-gray-500 text-sm">
      <p class="text-center">Receipt: 1933966150423107-1-1</p>
      <p class="text-center">01 March, 2023</p>
    </div>
    <ul role="list" class="py-6 flex flex-col gap-4 text-gray-900">
      <li class="flex justify-between space-x-3">
        <p class="flex-1 font-medium">1 x Session Booking</p>
        <p class="">£10.00</p>
      </li>
      <li class="flex justify-between space-x-3">
        <p class="flex-1 font-medium">VAT 20%</p>
        <p class="">£2.00</p>
      </li>
    </ul>
    <ul role="list" class="pt-6 border-t">
      <li class="flex justify-between space-x-3">
        <p class="flex-1 font-medium">Total</p>
        <p class="">£10.00</p>
      </li>
    </ul>
  </div>

  <div class="flex flex-col text-sm">
    <p class="text-center text-sm p-6 text-gray-500">
      Payment method: Card #### 1277
    </p>
  </div>
</div>
