---
const { subject, from } = Astro.props;
---

<!-- Meta -->
<div class="p-4 w-full max-w-lg border-b flex flex-col">
  <div class="flex mb-1">
    <p class="w-1/3 sm:w-1/4 text-sm text-gray-500">From:</p>
    <p class="text-sm text-gray-900">
      {from}
    </p>
  </div>
  <div class="flex">
    <p class="w-1/3 sm:w-1/4 text-sm text-gray-500">Subject:</p>
    <p class="text-sm text-gray-900">{subject}</p>
  </div>
</div>
