---
---

<div class="mt-8 p-8 rounded-xl bg-gray-100">
  <div class="pb-6">
    <p class="text-center text-sm text-gray-500">
      Receipt: 1933966150423107-1-1
    </p>
    <p class="text-center text-sm text-gray-500">01 March, 2023</p>
  </div>
  <ul role="list" class="py-6 flex flex-col gap-4">
    <li class="flex justify-between space-x-3">
      <p class="flex-1 font-medium text-sm text-gray-900">
        1 x Session Booking
      </p>
      <p class="flex-shrink-0 whitespace-nowrap text-sm text-gray-900">
        £10.00
      </p>
    </li>
    <li class="flex justify-between space-x-3">
      <p class="flex-1 font-medium text-sm text-gray-900">VAT 20%</p>
      <p class="flex-shrink-0 whitespace-nowrap text-sm text-gray-900">£2.00</p>
    </li>
  </ul>
  <ul role="list" class="pt-6 border-t">
    <li class="flex justify-between space-x-3">
      <p class="flex-1 font-medium text-sm text-gray-900">Total</p>
      <p class="flex-shrink-0 whitespace-nowrap text-sm text-gray-900">
        £10.00
      </p>
    </li>
  </ul>
</div>
<div class="pt-6">
  <p class="text-center text-sm text-gray-500">
    Payment method: Card #### 1277
  </p>
</div>
