---
const { imageUrl, title } = Astro.props;
---

<div class="mt-6 flex items-center justify-between">
  <div class="flex items-center space-x-5">
    <div class="flex-shrink-0">
      <div class="relative">
        <img class="h-16 w-16 rounded-full" src={imageUrl} alt={title} />
        <span
          class="absolute inset-0 rounded-full shadow-inner"
          aria-hidden="true"></span>
      </div>
    </div>
    <!--
        Use vertical padding to simulate center alignment when both lines of text are one line,
        but preserve the same layout if the text wraps without making the image jump around.
      -->
    <div class="flex flex-col gap-1">
      <h3 class="text-lg font-medium leading-6 text-gray-900">{title}</h3>
      <span
        class="inline-flex items-center rounded-full bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800"
      >
        Active
      </span>
    </div>
  </div>
  <div class="">
    <button
      type="button"
      class="rounded-md bg-white font-medium text-purple-600 hover:text-purple-500 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2"
      >Disconnect</button
    >
  </div>
</div>
