---
// Click button, get confetti!
// Styled by Tailwind :)
---

<button
  class="absolute bottom-10 rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
>
  <slot />
</button>

<script>
  import confetti from "canvas-confetti";
  const button = document.body.querySelector("button");

  if (button) {
    button.addEventListener("click", () => confetti());
  }
</script>
