---
---

<div class="grid grid-cols-[1fr,auto] items-center">
  <div class="flex min-w-0">
    <h2 class="truncate text-base font-medium leading-7 text-slate-900">
      <a href="#component-80fd0d5ac7982f1a83b171bb0fb9e116">Primary buttons</a>
    </h2>
  </div><div class="ml-6 flex items-center">
    <div
      class="flex space-x-1 rounded-lg bg-slate-100 p-0.5"
      role="tablist"
      aria-orientation="horizontal"
    >
      <button
        class="flex items-center rounded-md py-[0.4375rem] pl-2 pr-2 text-sm font-semibold lg:pr-3"
        id="headlessui-tabs-tab-2"
        role="tab"
        type="button"
        aria-selected="false"
        tabindex="-1"
        data-headlessui-state=""
        aria-controls="headlessui-tabs-panel-4"
        ><svg
          class="h-5 w-5 flex-none stroke-slate-600"
          fill="none"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            d="M17.25 10c0 1-1.75 6.25-7.25 6.25S2.75 11 2.75 10 4.5 3.75 10 3.75 17.25 9 17.25 10Z"
          ></path><circle cx="10" cy="10" r="2.25"></circle></svg
        ><span class="sr-only lg:not-sr-only lg:ml-2 text-slate-600"
          >Preview</span
        ></button
      ><button
        class="flex items-center rounded-md py-[0.4375rem] pl-2 pr-2 text-sm font-semibold lg:pr-3 bg-white shadow"
        id="headlessui-tabs-tab-3"
        role="tab"
        type="button"
        aria-selected="true"
        tabindex="0"
        data-headlessui-state="selected"
        aria-controls="headlessui-tabs-panel-5"
        ><svg
          class="h-5 w-5 flex-none stroke-sky-500"
          fill="none"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
          xmlns="http://www.w3.org/2000/svg"
          ><path d="m13.75 6.75 3.5 3.25-3.5 3.25M6.25 13.25 2.75 10l3.5-3.25"
          ></path></svg
        ><span class="sr-only lg:not-sr-only lg:ml-2 text-slate-900">Code</span
        ></button>
    </div><div class="ml-6 mr-3 hidden h-5 w-px bg-slate-900/10 sm:block">
    </div><div class="relative hidden sm:block">
      <select
        class="form-select h-9 w-full rounded-lg border-0 bg-transparent bg-none p-0 pl-3.5 pr-[1.875rem] font-medium text-slate-900 focus:shadow-none focus-visible:ring-2 focus-visible:ring-sky-500 sm:text-sm"
        ><option value="html">HTML</option><option value="react">React</option
        ><option value="vue">Vue</option></select
      ><svg
        aria-hidden="true"
        viewBox="0 0 8 6"
        width="8"
        height="6"
        fill="none"
        class="pointer-events-none absolute inset-y-0 right-3.5 h-full stroke-slate-500"
        ><path
          d="M7 1.5l-3 3-3-3"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path></svg>
    </div><button
      class="group relative ml-2 hidden h-9 w-9 items-center justify-center sm:flex"
      ><svg
        class="h-8 w-8 stroke-slate-400 transition group-hover:rotate-[-4deg] group-hover:stroke-slate-600"
        fill="none"
        viewBox="0 0 32 32"
        xmlns="http://www.w3.org/2000/svg"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path
          d="M12.9975 10.7499L11.7475 10.7499C10.6429 10.7499 9.74747 11.6453 9.74747 12.7499L9.74747 21.2499C9.74747 22.3544 10.6429 23.2499 11.7475 23.2499L20.2475 23.2499C21.352 23.2499 22.2475 22.3544 22.2475 21.2499L22.2475 12.7499C22.2475 11.6453 21.352 10.7499 20.2475 10.7499L18.9975 10.7499"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"></path><path
          d="M17.9975 12.2499L13.9975 12.2499C13.4452 12.2499 12.9975 11.8022 12.9975 11.2499L12.9975 9.74988C12.9975 9.19759 13.4452 8.74988 13.9975 8.74988L17.9975 8.74988C18.5498 8.74988 18.9975 9.19759 18.9975 9.74988L18.9975 11.2499C18.9975 11.8022 18.5498 12.2499 17.9975 12.2499Z"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"></path><path
          d="M13.7475 16.2499L18.2475 16.2499"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"></path><path
          d="M13.7475 19.2499L18.2475 19.2499"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"></path><g class="opacity-0"
          ><path
            d="M15.9975 5.99988L15.9975 3.99988"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path><path
            d="M19.9975 5.99988L20.9975 4.99988"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path><path
            d="M11.9975 5.99988L10.9975 4.99988"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path></g
        ></svg
      ></button>
  </div><div class="col-span-2 row-start-2 min-w-0">
    <div
      class="mt-4 focus:outline-none"
      id="headlessui-tabs-panel-4"
      role="tabpanel"
      tabindex="-1"
      data-headlessui-state=""
      aria-labelledby="headlessui-tabs-tab-2"
      hidden=""
      style="display: none;"
    >
      <div
        id="frame-80fd0d5ac7982f1a83b171bb0fb9e116"
        class="relative"
        style="height: auto;"
      >
        <style>
          #frame-80fd0d5ac7982f1a83b171bb0fb9e116 {
            height: 322px;
          }
          @media (min-width: 704px) {
            #frame-80fd0d5ac7982f1a83b171bb0fb9e116 {
              height: 114px;
            }
          }
        </style><iframe
          class="w-full overflow-hidden rounded-lg ring-1 ring-slate-900/10"
          id="frame-80fd0d5ac7982f1a83b171bb0fb9e116"
          title="Primary buttons preview"
          aria-label="Primary buttons preview"
          name="frame-80fd0d5ac7982f1a83b171bb0fb9e116"
          srcdoc='<!doctype html><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link rel="stylesheet" href="/v2-assets/components.css?id=5ac5837b2a801b232888f2f9a5fa39aa"><script src="/v2-assets/components.js?id=c42e44f6c92eb7517e1a4e8bd13028a6"></script><script src="/js/iframe.js?id=1aa79ddd39a17053502061b4a3352bc1" defer></script><script src="/js/alpine.js?id=8abb7fc694f5ad35a20d19a7cae8cb7e" defer></script><body class="antialiased font-sans bg-gray-200 overflow-hidden"><div class="" style="">
  <div class="bg-white px-4 py-8">
    <div class="mx-auto flex max-w-3xl flex-col items-center justify-start space-y-4 sm:flex-row sm:items-end sm:justify-around sm:space-y-0">
      
  <button type="button" class="inline-flex items-center rounded border border-transparent bg-indigo-600 px-2.5 py-1.5 text-xs font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Button text</button>
  <button type="button" class="inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-3 py-2 text-sm font-medium leading-4 text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Button text</button>
  <button type="button" class="inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Button text</button>
  <button type="button" class="inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Button text</button>
  <button type="button" class="inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Button text</button>

    </div>
  </div>
</div></body>'
          style="height: 114px;"></iframe><div
          class="absolute inset-y-0 left-full hidden cursor-ew-resize items-center px-2 sm:flex"
        >
          <div class="h-8 w-1.5 rounded-full bg-slate-400"></div>
        </div>
      </div>
    </div><div
      class="redesign-2022 mt-4 focus:outline-none"
      id="headlessui-tabs-panel-5"
      role="tabpanel"
      aria-labelledby="headlessui-tabs-tab-3"
      tabindex="0"
      data-headlessui-state="selected"
    >
      <div
        class="flex space-x-2 rounded-t-lg border-b border-slate-700 bg-slate-800 px-2 text-sm leading-6 sm:hidden"
      >
        <button
          type="button"
          class="-mb-px border-b px-2 py-3 font-medium border-sky-400 text-sky-400"
          >HTML</button
        ><button
          type="button"
          class="-mb-px border-b px-2 py-3 font-medium border-transparent text-slate-400 hover:text-slate-300"
          >React</button
        ><button
          type="button"
          class="-mb-px border-b px-2 py-3 font-medium border-transparent text-slate-400 hover:text-slate-300"
          >Vue</button>
      </div><pre
        class="flex overflow-auto rounded-b-lg text-sm leading-[1.5714285714] text-white sm:rounded-t-lg language-html"><code class="p-4"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>button</span> <span class="token attr-name">type</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>button<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>inline-flex items-center rounded border border-transparent bg-indigo-600 px-2.5 py-1.5 text-xs font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Button text<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>button</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>button</span> <span class="token attr-name">type</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>button<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-3 py-2 text-sm font-medium leading-4 text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Button text<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>button</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>button</span> <span class="token attr-name">type</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>button<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Button text<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>button</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>button</span> <span class="token attr-name">type</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>button<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Button text<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>button</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>button</span> <span class="token attr-name">type</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>button<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Button text<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>button</span><span class="token punctuation">&gt;</span></span>
</code></pre>
    </div>
  </div>
</div>
