---
---

<dd class="mt-1 flex text-sm text-gray-900 sm:col-span-2 sm:mt-0 flex-col">
  <div class="flex">
    <span class="flex-grow">
      <div class="">
        <img
          class="mt-2 sm:mt-0 border rounded-md h-16 w-16"
          src="/sessions/logo.svg"
          alt=""
        />
      </div>
    </span>
    <span class="ml-4 flex flex-shrink-0 space-x-4 items-center">
      <button
        type="button"
        class="rounded-md bg-white font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
        >Change</button
      >
      <span class="text-gray-300" aria-hidden="true">|</span>
      <button
        type="button"
        class="rounded-md bg-white font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
        >Remove</button
      >
    </span>
  </div>

  <div
    class="text-sm text-gray-500 font-normal p-3 mt-5 w-full rounded-lg bg-white leading-6 shadow ring-1 ring-slate-900/5"
  >
    <p>
      Your icon must be square and at least 128px x 128px. It may have any
      colour background, and should be uploaded in PNG or JPEG formats.
    </p>
    <p class="mt-2">
      Please note, this should not be your full logo which usually contains text
      as it will be displayed to your customers alongside your public business
      name.
    </p>
  </div>
</dd>
