---
---

<div class="mt-5 border-t border-gray-200">
  <dl class="divide-y divide-gray-200">
    <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
      <dt class="text-sm font-medium text-gray-500">Account name</dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:col-span-2 sm:mt-0">
        <span class="flex-grow">Fitway</span>
      </dd>
    </div>
    <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
      <dt class="text-sm font-medium text-gray-500">Account ID</dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:col-span-2 sm:mt-0">
        <span class="flex-grow">acct_1Ls1fSIrGBlV62TF</span>
      </dd>
    </div>
  </dl>
</div>
