---
// Header
---

<header
  class="w-full absolute inset-x-0 top-0 left-0 z-50 flex h-14 items-center justify-between gap-12 px-4 transition lg:px-8 backdrop-blur-sm dark:backdrop-blur bg-white/[var(--bg-opacity-light)] dark:bg-zinc-900/[var(--bg-opacity-dark)] border-b"
  style="--bg-opacity-light:0.5; --bg-opacity-dark:0.2;"
>
  <div
    class="absolute inset-x-0 top-full h-px transition bg-zinc-900/7.5 dark:bg-white/7.5"
  >
  </div>

  <!-- <div class="hidden flex-1 w-full md:flex lg:flex-initial lg:w-80">
    <button
      type="button"
      class="h-8 w-full flex items-center gap-2 rounded-full bg-white pl-2 pr-3 text-sm text-zinc-500 ring-1 ring-zinc-900/10 transition hover:ring-zinc-900/20 dark:bg-white/5 dark:text-zinc-400 dark:ring-inset dark:ring-white/10 dark:hover:ring-white/20 focus:[&:not(:focus-visible)]:outline-none"
    >
      <svg
        viewBox="0 0 20 20"
        fill="none"
        aria-hidden="true"
        class="h-5 w-5 stroke-current"
        ><path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12.01 12a4.25 4.25 0 1 0-6.02-6 4.25 4.25 0 0 0 6.02 6Zm0 0 3.24 3.25"
        ></path></svg
      >Search<kbd class="ml-auto text-2xs text-zinc-400 dark:text-zinc-500"
        ><kbd class="font-sans">⌘</kbd><kbd class="font-sans">K</kbd></kbd
      >
    </button>
  </div> -->
  <div class="flex items-center gap-5 md:hidden">
    <button
      type="button"
      class="flex h-6 w-6 items-center justify-center rounded-md transition hover:bg-zinc-900/5 dark:hover:bg-white/5"
      aria-label="Toggle navigation"
      ><svg
        viewBox="0 0 10 9"
        fill="none"
        stroke-linecap="round"
        aria-hidden="true"
        class="w-2.5 stroke-zinc-900 dark:stroke-white"
        ><path d="M.5 1h9M.5 8h9M.5 4.5h9"></path></svg
      ></button
    ><a aria-label="Home" href="/">
      <img
        class="h-8 w-8"
        src="/sessions/mark-sessions.svg"
        alt="Sessions"
      /></a
    >
  </div>
  <div class="flex items-center gap-5 w-full md:justify-between">
    <div
      class="hidden md:flex items-center rounded-md shadow-sm md:items-stretch"
    >
      <button
        type="button"
        class="flex items-center justify-center rounded-l-md border border-r-0 border-gray-300 bg-white py-2 pl-3 pr-4 text-gray-400 hover:text-gray-500 focus:relative md:w-9 md:px-2 md:hover:bg-gray-50"
      >
        <span class="sr-only">Previous month</span>
        <svg
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
            clip-rule="evenodd"></path>
        </svg>
      </button>
      <button
        type="button"
        class="border-t border-b border-gray-300 bg-white px-3.5 text-sm font-medium text-gray-700 hover:bg-gray-50 hover:text-gray-900 focus:relative"
        >Today</button
      >
      <span class="relative -mx-px h-5 w-px bg-gray-300 md:hidden"></span>
      <button
        type="button"
        class="flex items-center justify-center rounded-r-md border border-l-0 border-gray-300 bg-white py-2 pl-4 pr-3 text-gray-400 hover:text-gray-500 focus:relative md:w-9 md:px-2 md:hover:bg-gray-50"
      >
        <span class="sr-only">Next month</span>
        <svg
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
            clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>

    <h1 class="text-md font-medium text-gray-900 mr-auto md:mr-0">
      <time datetime="2022-01">January 2022</time>
    </h1>
    <div class="flex-shrink-0">
      <img
        class="inline-block h-8 w-8 rounded-full flex-shrink-0"
        src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
        alt="John Smith"
      />
    </div>
  </div>
</header>
