---
const rawHTMLString = `<!--
** Developer notes **
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio iste quis cum dolores at laudantium, explicabo deleniti tempore delectus itaque sint odio? Ipsa, incidunt iusto suscipit possimus reprehenderit quis ipsam.
 -->

<iframe src="https://sessionstest.thefitway.io/#/" title="Bookings">
</iframe>`;
---

<p class="font-normal">
  Send this code to your developer to integrate the bookings app on your
  website.
</p>

<div
  class="text-sm text-gray-500 font-normal p-3 mt-5 w-full rounded-lg bg-white leading-6 shadow ring-1 ring-slate-900/5"
>
  <pre
    class="whitespace-pre-wrap"><code class="text-xs">{rawHTMLString}</code>
</pre>
</div>
