---
const rawHTMLString = `<!--
** Developer notes **
Something to tell the developer.
 -->
 <iframe
  style="border: 0; width: 100%; min-height: 768px"
  src="https://sessionsdev.thefitway.io/cus?gymId=421"
  title="Bookings"
>
</iframe>`;
---

<p class="font-normal">
  Send this code to your developer to integrate the bookings app on your
  website.
</p>

<div
  class="text-sm text-gray-500 font-normal p-3 mt-5 w-full rounded-lg bg-white leading-6 shadow ring-1 ring-slate-900/5"
>
  <pre
    class="whitespace-pre-wrap"><code class="text-xs">{rawHTMLString}</code>
</pre>
</div>

<button
  type="button"
  class="mt-8 rounded-md bg-white py-2 px-3 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
  >Copy to clipboard</button
>
