---
const rawHTMLString = `<!--
** Developer notes **
Do some magic to make the iFrame responsive and not have scrollbars etc.
 -->
<iframe src="https://sessionstest.thefitway.io/" title="Bookings">
</iframe>
<script>Run a script to and do some magic.</script>`;
---

<p class="font-normal">
  Send this code to your developer to integrate the bookings app on your
  website.
</p>

<div
  class="text-sm text-gray-500 font-normal p-3 mt-5 w-full rounded-lg bg-white leading-6 shadow ring-1 ring-slate-900/5"
>
  <pre
    class="whitespace-pre-wrap"><code class="text-xs">{rawHTMLString}</code>
</pre>
</div>
<style>
  iframe {
    width: 1px;
    min-width: 100%;
  }
</style>
