---
const { name, imageUrl, initials, attended, DidNotAttend } = Astro.props;
---

<li
  class="cursor-pointer flex flex-1 content-center items-center justify-between py-3 gap-2"
>
  <div
    class={(attended
      ? ""
      : DidNotAttend
      ? "opacity-30 hover:opacity-100"
      : "") + " min-w-0 flex flex-1 items-center transition-opacity group"}
  >
    {
      imageUrl ? (
        <img src={imageUrl} alt={name} class="h-8 w-8 rounded-full" />
      ) : initials ? (
        <span class="inline-flex shrink-0 h-8 w-8 items-center justify-center rounded-full bg-gray-500">
          <span class="text-sm font-medium leading-none text-white">
            {initials}
          </span>
        </span>
      ) : (
        <span class="inline-block h-8 w-8 overflow-hidden rounded-full bg-gray-100">
          <svg
            class="h-full text-gray-300"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
          </svg>
        </span>
      )
    }
    <p
      class="w-full min-w-0 ml-4 text-sm font-medium text-gray-900 truncate pr-2"
    >
      {name}
    </p>
    {
      attended ? (
        <label class="relative -m-0.5 flex cursor-pointer items-center justify-center rounded-full focus:outline-none">
          <span id="color-choice-0-label" class="sr-only">
            Yes
          </span>
          <span
            aria-hidden="true"
            class="h-8 w-8 bg-indigo-600 rounded-full flex justify-center items-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 text-white"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"
              />
            </svg>
          </span>
        </label>
      ) : DidNotAttend ? (
        <label class="relative -m-0.5 flex cursor-pointer items-center justify-center rounded-full focus:outline-none group-hover:bg-gray-100">
          <span id="color-choice-0-label" class="sr-only">
            Yes
          </span>
          <span
            aria-hidden="true"
            class="h-8 w-8 rounded-full flex justify-center items-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"
              />
            </svg>
          </span>
        </label>
      ) : (
        <label class="opacity-30 group-hover:opacity-100 group-hover:bg-gray-100 relative -m-0.5 flex cursor-pointer items-center justify-center rounded-full focus:outline-none">
          <span id="color-choice-0-label" class="sr-only">
            Yes
          </span>
          <span
            aria-hidden="true"
            class="h-8 w-8 rounded-full flex justify-center items-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"
              />
            </svg>
          </span>
        </label>
      )
    }
  </div>
  <div>
    {
      attended ? (
        <label class="opacity-30 hover:opacity-100 relative -m-0.5 flex cursor-pointer items-center justify-center rounded-full focus:outline-none hover:bg-gray-100">
          <span id="color-choice-0-label" class="sr-only">
            No
          </span>
          <span
            aria-hidden="true"
            class="h-8 w-8 rounded-full flex justify-center items-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </span>
        </label>
      ) : DidNotAttend ? (
        <label class="relative -m-0.5 flex cursor-pointer items-center justify-center rounded-full focus:outline-none">
          <span id="color-choice-0-label" class="sr-only">
            No
          </span>
          <span
            aria-hidden="true"
            class="h-8 w-8 bg-indigo-200 rounded-full flex justify-center items-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 text-white"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </span>
        </label>
      ) : (
        <label class="opacity-30 hover:opacity-100 hover:bg-gray-100  relative -m-0.5 flex cursor-pointer items-center justify-center rounded-full focus:outline-none">
          <span id="color-choice-0-label" class="sr-only">
            No
          </span>
          <span
            aria-hidden="true"
            class="h-8 w-8 rounded-full flex justify-center items-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </span>
        </label>
      )
    }
  </div>
</li>
