---
import SubjectLine from "../components/email/email-subject-line.astro";
import Tabs from "../components/email/email-tabs.astro";
const { subject, title, activeTab } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="flex flex-col items-center">
    <Tabs activeTab={activeTab} />
    <SubjectLine from="FitStop" subject={subject} />
    <div class="px-6 py-8 mb-8 max-w-lg w-full">
      <slot />
    </div>
  </body>
</html>
