---
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";
const { title, navIndicator, maximize, clientIcon } = Astro.props;
---

<!DOCTYPE html>
<html class="h-full" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={clientIcon ? "/sessions/logo.svg" : "/sessions/mark-sessions.svg"}
    />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <title>Manage - {title}</title>
  </head>
  <body class="flex h-full">
    <Sidebar navIndicator={navIndicator} />
    <div
      class={maximize === true
        ? "w-full relative pt-14 h-full flex"
        : "w-full relative pt-14 px-4 sm:px-6 lg:px-8 overflow-auto"}
    >
      <Header />
      <main
        class={maximize === true
          ? "w-full flex min-h-full justify-center"
          : "w-full flex justify-center py-16 bg-white "}
      >
        <article class={maximize === true ? "w-full" : "max-w-5xl"}>
          <slot />
        </article>
      </main>
    </div>
    <!-- Instant page -->
    <script
      src="//instant.page/5.1.1"
      type="module"
      integrity="sha384-MWfCL6g1OTGsbSwfuMHc8+8J2u71/LA8dzlIN3ycajckxuZZmF+DNjdm7O6H3PSq"
    ></script>
  </body>
</html>
