---
import Layout from "../../layouts/email.astro";
import Receipt from "../../components/email/email-receipt.astro";
import Logo from "../../components/email/email-logo.astro";
import Booking from "../../components/email/email-booking.astro";
import Action from "../../components/email/email-action.astro";
import Footer from "../../components/email/email-footer.astro";
import Heading from "../../components/email/email-heading.astro";
---

<Layout
  title="Password reset request"
  subject="Password reset request"
  activeTab="E"
  clientIcon
>
  <Logo />
  <Heading title="Reset your password?" />
  <div class="mt-12 prose">
    <p>
      We got a request to change the password for the account with the email <strong
        >jane.doe@gmailcom</strong
      >.
      <p>If you don't want to reset your password, please ignore this email.</p>
    </p>
  </div>
  <Action
    label="Reset password"
    url="https://sessions.thefitway.io/signin/reset"
  />
  <Footer />
</Layout>
